html,
body {
  overflow-x: hidden !important;
}
/* ============COMMON CLASSES============ */
.sub_heading {
  font-size: var(--font-5xl) !important;
  color: var(--dark-black) !important;
  font-family: THICCCBOI-Bold !important;
  line-height: 117% !important;
}

/* =========DEFINE LEADS CENTERS CSS========= */
.leads_img {
  max-width: 1218px !important;
}
.leads_btn {
  background: #3b5998;
  padding: 13px 25px;
  border-radius: 60px;
  transition: all 0.3s ease-in-out;
}
.leads_btn:hover {
  transform: scale(1.03) !important;
  box-shadow: 4px 4px 10px #a8c0f4 !important;
}
/* ==========DEFINE PLANS CARD CSS========== */
.plans_cards {
  height: 100%;
  max-width: 446px;
  padding: 43px 35px 38px 34px;
  border: 1px solid #d8d8d8;
  backdrop-filter: blur(17.5px);
  border-radius: 48px;
}
.check_icon {
  height: fit-content !important;
}
.main_campaign_box {
  background: rgba(59, 89, 152, 0.15);
  padding: 17px 17px 32px 17px;
  border: 1px solid #3b5998;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(17.5px);
  border-radius: 48px;
  max-width: 945px !important;
  margin: 0 auto !important;
  z-index: 10;
}
.campaign_arrow {
  z-index: -1 !important;
  bottom: -22%;
  left: 20%;
}
.white_box {
  background: #ffffff;
  padding: 20px 26px !important;
  box-shadow: 0px 4px 10px 0px #00000026;
  border-radius: 30px;
}
/* ==================DEFINE FOOTER CSS================== */
.footer_bg {
  padding: 48px 0px;
  background: rgba(217, 217, 255, 0.15);
}
.footer_logo {
  max-width: 242px !important;
}
.footer-dash-border {
  padding: 63px 0px !important;
  border-top: 1px dashed #3b5998;
  border-bottom: 1px dashed #3b5998;
}
.email_address {
  padding: 20px 0px 19px 21px;
  background: #ffffff;
  border: 1px solid #e1e1ff;
  border-radius: 18px;
}
.email_address::placeholder {
  color: #0a0a0d;
  opacity: 0.75;
}
.footer_icon {
  transition: 0.3s all ease-in-out;
}
.footer_icon:hover {
  transform: translateY(-5px) !important;
}
.max-width-447 {
  max-width: 447px !important;
}
@media (min-width: 1600px) {
  .custom_container {
    max-width: 1480px !important;
  }
}
@media (max-width: 991.98px) {
  .plans_cards {
    max-width: 330px !important;
    padding: 28px 20px 28px 20px;
  }
  .plans_cards h4 {
    font-size: 20px !important;
  }
  .campaign_arrow {
    bottom: -18% !important;
    left: 10% !important;
  }
  .email_address {
    padding: 12px 0px 12px 21px !important;
  }
}
@media (max-width: 767.98px) {
  .campaign_arrow {
    bottom: -12% !important;
    left: 10% !important;
  }
  .leads_btn {
    padding: 10px 20px !important;
  }
  .plans_cards {
    padding: 16px 12px !important;
    border-radius: 32px;
    max-width: 250px !important;
  }
  .footer-dash-border {
    padding: 48px 0px !important;
  }
}
@media (max-width: 575.98px) {
  .leads_btn {
    padding: 10px 18px !important;
  }
  .plans_cards {
    padding: 24px 20px !important;
    max-width: 300px !important;
  }
  .white_box {
    padding: 16px !important;
  }
  .campaign_arrow {
    bottom: -16% !important;
    left: 0% !important;
  }
  .footer_logo {
    max-width: 200px !important;
  }
  .footer-dash-border {
    padding: 24px 0px !important;
  }
}
