/* DEFINE ROOT */

:root {
  /* FONT SIZES  */
  --font-4xl: 36px;
  --font-5xl: 65px;
}
/* ----------------------------------- ONLY-MEDIA-QUERIES ----------------------------------- */
@media (max-width: 1599.98px) {
  :root {
    --font-4xl: 32px;
    --font-5xl: 60px;
  }
}

@media (max-width: 1199.98px) {
  :root {
    --font-4xl: 30px;
    --font-5xl: 55px;
  }
}

@media (max-width: 991.98px) {
  :root {
    --font-4xl: 28px;
    --font-5xl: 50px;
  }
}

@media (max-width: 767.98px) {
  :root {
    --font-4xl: 26px;
    --font-5xl: 45px;
  }
}

@media (max-width: 575.98px) {
  :root {
    --font-4xl: 24px;
    --font-5xl: 35px;
  }
}
/* DEFINE FONT SIZE=========== */
.font-4xl {
  font-size: var(--font-4xl) !important;
}
.font-5xl {
  font-size: var(--font-5xl) !important;
}
/* DEFINE COMMON CLASSES */
.fw_md {
  font-weight: 500 !important;
}
.fw_semibold {
  font-weight: 600 !important;
}
.fs_22 {
  font-size: 22px !important;
}
.sub_heading {
  font-size: var(--font-5xl) !important;
  color: var(--dark-black) !important;
  font-family: THICCCBOI-Bold !important;
  line-height: 117% !important;
}

/* DEFINE LEADS CENTERS CSS================ */
.leads_img {
  max-width: 1218px !important;
}
.leads_btn {
  background: #3b5998;
  padding: 13px 25px;
  border-radius: 60px;
  transition: all 0.3s ease-in-out;
}
.leads_btn:hover {
  transform: scale(1.03) !important;
  box-shadow: 4px 4px 10px #a8c0f4 !important;
}
.plans_cards {
  height: 100%;
  max-width: 446px;
  padding: 43px 35px 38px 34px;
  border: 1px solid #d8d8d8;
  backdrop-filter: blur(17.5px);
  border-radius: 48px;
}
.check_icon {
  height: fit-content !important;
}

@media (min-width: 1600px) {
  .custom_container {
    max-width: 1480px !important;
  }
}
@media (max-width: 991.98px) {
  .plans_cards {
    max-width: 330px !important;
    padding: 28px 20px 28px 20px;
  }
  .plans_cards h4 {
    font-size: 20px !important;
  }
}
@media (max-width: 767.98px) {
  .leads_btn {
    padding: 10px 20px !important;
  }
  .plans_cards {
    padding: 16px 12px !important;
    border-radius: 32px;
    max-width: 250px !important;
  }
}
@media (max-width: 575.98px) {
  .leads_btn {
    padding: 10px 18px !important;
  }
  .plans_cards {
    padding: 24px 20px !important;
    max-width: 300px !important;
  }
}
