html,
body {
  overflow-x: hidden !important;
}

/* ============COMMON CLASSES============ */
.sub_heading {
  font-size: var(--font-5xl) !important;
  color: var(--dark-black) !important;
  font-family: THICCCBOI-Bold !important;
  line-height: 117% !important;
}

/* =========DEFINE LEADS CENTERS CSS========= */
.leads_img {
  max-width: 1218px !important;
}

.leads_btn {
  background: #3b5998;
  padding: 11px 25px;
  border-radius: 60px;
  transition: all 0.3s ease-in-out;
  border: 1px solid transparent;
}

.leads_btn:hover {
  transform: scale(1.03);
  box-shadow: 4px 4px 10px #a8c0f4 !important;
}

/* ==========DEFINE PLANS CARD CSS========== */
.plans_cards {
  height: 100%;
  max-width: 446px;
  padding: 43px 35px 38px 34px;
  border: 1px solid #d8d8d8;
  backdrop-filter: blur(17.5px);
  border-radius: 48px;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  box-shadow: 0 10px 22px rgba(0, 0, 0, 0.25), 0 5px 5px rgba(0, 0, 0, 0.22) !important;
}

.check_icon {
  height: fit-content !important;
}

.main_campaign_box {
  background: rgba(59, 89, 152, 0.15);
  padding: 17px 17px 32px 17px;
  border: 1px solid #3b5998;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(17.5px);
  border-radius: 48px;
  max-width: 945px !important;
  margin: 0 auto !important;
  z-index: 10;
}

.campaign_arrow {
  z-index: -1 !important;
  bottom: -22%;
  left: 20%;
}

.white_box {
  background: #ffffff;
  padding: 20px 26px !important;
  box-shadow: 0px 4px 10px 0px #00000026;
  border-radius: 30px;
}

/* ==================DEFINE FOOTER CSS================== */
.footer_bg {
  padding: 48px 0px;
  background: rgba(217, 217, 255, 0.15);
}

.footer_logo {
  max-width: 242px !important;
}

.footer-dash-border {
  padding: 63px 0px !important;
  border-top: 1px dashed #3b5998;
  border-bottom: 1px dashed #3b5998;
}

.email_address {
  padding: 20px 0px 19px 21px;
  background: #ffffff;
  border: 1px solid #e1e1ff;
  border-radius: 18px;
}

.email_address::placeholder {
  color: #0a0a0d;
  opacity: 0.75;
}

.footer_icon {
  transition: 0.3s all ease-in-out;
}

.footer_icon:hover {
  transform: translateY(-5px) !important;
}

.max-width-447 {
  max-width: 447px !important;
}

.slick-next:before {
  content: url("../images/landing/svg/footer-next-arrow.svg") !important;
  transition: all 0.3s ease-in-out !important;
}

.slick-prev:before {
  content: url("../images/landing/svg/footer-prev-arrow.svg") !important;
  transition: all 0.3s ease-in-out !important;
}

.slick-next:hover:before {
  content: url("../images/landing/svg/next-arrow-hover.svg") !important;
}

.slick-prev:hover:before {
  content: url("../images/landing/svg/prev-arrow-hover.svg") !important;
}

.slick-prev {
  left: -5% !important;
}

.slick-next {
  right: -3% !important;
}

.slick-prev,
.slick-next {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  display: block;
  width: 50px;
  height: 50px;
  padding: 0;
  -webkit-transform: translate(0, -25%) !important;
  -ms-transform: translate(0, -25%) !important;
  transform: translate(0, -25%) !important;
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  background: transparent;
}

.footer_slider_img {
  max-width: 156px;
  padding: 0px 24px !important;
  min-height: 100px !important;
  max-height: 100px !important;
}

.slick-dots li {
  margin: 0px !important;
}

.slick-dots li button:before {
  font-size: 10px !important;
  width: 5px !important;
}

.slick-dots li.slick-active button:before {
  color: #3b5998 !important;
}

/* ====================DEFINE MARKTING CSS START==================== */
.marketing-img {
  max-width: 1000px !important;
}

.marketing_box {
  background: rgba(142, 169, 224, 0.15);
  border: 1px solid #3b5998;
  backdrop-filter: blur(17.5px);
  border-radius: 48px;
  padding: 92px 58px 73px 49px !important;
  max-width: 1162px !important;
}

.custom_margin {
  margin-top: -100px;
}

.arrow_icon_two {
  right: 10%;
  top: 97%;
}

/*HERO CSS HERE==================================*/
.landing_hero_input {
  background: #ffffff;
  border: 1px solid #e1e1ff;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.08);
  border-radius: 60px;
  height: 65px;
  width: 44%;
}

.hero_img_one {
  width: 70%;
}

.hero_img_two {
  left: 28%;
  z-index: 1;
  transform: translateY(14%);
}

.revenue_box {
  border-radius: 68px;
  padding: 74px 100px 64px 75px !important;
  max-width: 1394px !important;
  padding-top: 300px;
}

.revenue_tabs {
  padding: 20px 32px;
  background: transparent;
  border-radius: 60px;
}

.revenue_tabs_2 {
  background-color: #3b5998;
  padding: 20px 32px;
  border-radius: 60px;
}

.arrow_icon_one {
  top: 94%;
  left: 1%;
}

.arrow_icon_three {
  right: -4%;
  top: 10%;
}

.header_btn {
  transition: all 0.3s ease-in-out;
  color: #0a0a0d;
}

.header_btn:hover {
  color: #3b5998;
}

.landing_hero_btn {
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2), 0px 10px 30px rgba(0, 0, 0, 0.15);
}

/* ------------------------custom scroll bar----------------------------- */
/* width */
.marketing_box ::-webkit-scrollbar {
  height: 5px;
}

/* Track */
.marketing_box ::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
.marketing_box ::-webkit-scrollbar-thumb {
  background: #3b5998;
  border-radius: 50px;
}

/* Handle on hover */
.marketing_box ::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.img_annimation {
  animation: dashboard 6s infinite linear alternate 2s;
}

@keyframes dashboard {
  0% {
    transform: translatey(0px);
  }

  40% {
    transform: translatey(30px);
  }

  100% {
    transform: translatey(0px);
  }
}

.img_annimation_2 {
  animation: dashboard_2 6s infinite linear;
}

@keyframes dashboard_2 {
  100% {
    transform: translatey(0px);
  }

  40% {
    transform: translatey(30px);
  }

  0% {
    transform: translatey(0px);
  }
}

@media (min-width: 1600px) {
  .custom_container {
    max-width: 1480px !important;
  }

  .hero_img_two {
    left: 35%;
    z-index: 1;
    width: 70%;
    transform: translateY(14%);
  }

  .arrow_icon_three {
    right: -2%;
    top: 15%;
  }

  .revenue_box {
    padding: 74px 123px 64px 75px !important;
  }

  /* .hero_img_parent {
    margin-right: -100px;
    margin-left: -100px;
  } */
  /* .revenue_custom_space {
    margin-top: 115px;
  } */
}

@media (max-width: 1549.98px) {
  .arrow_icon_three {
    top: 32%;
  }

  .revenue_box {
    margin-top: 25px !important;
  }

  .leads_img {
    max-width: 1000px !important;
  }

  .main_campaign_box {
    max-width: 860px !important;
  }

  .marketing-img {
    max-width: 900px !important;
  }
}

@media (max-width: 1399.98px) {
  .revenue_box {
    margin-top: unset !important;
  }

  .arrow_icon_three {
    top: 8%;
  }
}

@media (max-width: 1199.98px) {
  .slick-prev {
    left: -4% !important;
    top: 40% !important;
  }

  .slick-next {
    right: -2% !important;
    top: 40% !important;
  }

  .revenue_box {
    padding: 40px !important;
  }

  .custom_margin {
    margin-top: unset;
  }

  .marketing_box {
    padding: 35px 25px !important;
  }

  .arrow_icon_three {
    right: -5%;
  }
}

@media (max-width: 991.98px) {
  .plans_cards {
    max-width: 400px !important;
    padding: 28px 20px 28px 20px;
  }

  .plans_cards h4 {
    font-size: 20px !important;
  }

  .campaign_arrow {
    bottom: -18% !important;
    left: 10% !important;
  }

  .email_address {
    padding: 16px 0px 16px 21px !important;
  }

  .slick-prev {
    left: 45% !important;
    top: 100% !important;
  }

  .slick-next {
    right: 45% !important;
    top: 100% !important;
  }

  .landing_hero_input {
    height: 55px;
    width: 85%;
  }

  .arrow_icon_two {
    top: 96%;
  }
}

@media (max-width: 767.98px) {
  .campaign_arrow {
    bottom: -12% !important;
    left: 10% !important;
  }

  .leads_btn {
    padding: 10px 20px !important;
  }

  .plans_cards {
    padding: 16px 12px !important;
    border-radius: 32px;
    max-width: 400px !important;
  }

  .footer-dash-border {
    padding: 48px 0px !important;
  }

  .slick-prev {
    left: 40% !important;
    top: 100% !important;
  }

  .slick-next {
    right: 40% !important;
    top: 100% !important;
  }
}

@media (max-width: 575.98px) {
  .leads_btn {
    padding: 10px 18px !important;
  }

  .plans_cards {
    padding: 24px 20px !important;
    max-width: 400px !important;
  }

  .white_box {
    padding: 16px !important;
  }

  .campaign_arrow {
    bottom: -16% !important;
    left: 0% !important;
  }

  .footer_logo {
    max-width: 200px !important;
  }

  .footer-dash-border {
    padding: 24px 0px !important;
    margin-top: 48px !important;
  }

  .footer_slider_img {
    max-width: 100px !important;
    padding: 0px 12px !important;
  }

  .landing_hero_input {
    width: 100%;
  }

  .revenue_tabs_2 {
    padding: 15px 25px;
  }

  .revenue_box {
    padding: 40px 20px !important;
    border-radius: 30px;
  }

  .arrow_icon_two {
    top: 95%;
  }

  .business_slider_img {
    margin-top: 30px !important;
  }
}