@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@500&display=swap");

* {
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: THICCCBOI-normal !important;
}

.ff_plex_mono {
  font-family: "IBM Plex Mono", monospace;
}

@font-face {
  font-family: THICCCBOI-normal;
  src: url("../src/assets/fonts/THICCCBOI-Regular.ttf");
}

@font-face {
  font-family: THICCCBOI-medium;
  src: url("../src/assets/fonts/THICCCBOI-Medium.ttf");
}

@font-face {
  font-family: THICCCBOI-SemiBold;
  src: url("../src/assets/fonts/THICCCBOI-SemiBold.ttf");
}

@font-face {
  font-family: THICCCBOI-Bold;
  src: url("../src/assets/fonts/THICCCBOI-Bold.ttf");
}

.ff_thicccboi_medium {
  font-family: THICCCBOI-medium;
}

.ff_thicccboi_semibold {
  font-family: THICCCBOI-SemiBold;
}

.ff_thicccboi_bold {
  font-family: THICCCBOI-Bold;
}

:root {
  /* FONT SIZES  */
  --font-xs: 10px;
  --font-xsm: 12px;
  --font-sm: 14px;
  --font-md: 16px;
  --font-lg: 18px;
  --font-xl: 20px;
  --font-xxl: 26px;
  --font-2xl: 30px;
  --font-3xl: 32px;
  /* COLORS  */
  --white: #ffffff;
  --black: #000000;
  --dark-black: #040310;
  --light-gray: #ececec;
  --gray: #7d889e;
  --dark-gray: #484f75;
  --blue: #3b5998;
  --green: #30bd71;
  --red: #fb5656;
  --pink: #ED58BA;
}

/* ----------------------------------- ONLY-MEDIA-QUERIES ----------------------------------- */
@media (max-width: 1199.98px) {
  :root {
    --font-xxl: 25px;
    --font-2xl: 28px;
    --font-3xl: 30px;
  }
}

@media (max-width: 991.98px) {
  :root {
    --font-xl: 19px;
    --font-xxl: 24px;
    --font-2xl: 26px;
    --font-3xl: 28px;
  }
}

@media (max-width: 767.98px) {
  :root {
    --font-md: 15px;
    --font-lg: 16px;
    --font-xl: 18px;
    --font-xxl: 22px;
    --font-2xl: 24px;
    --font-3xl: 26px;
  }
}

@media (max-width: 575.98px) {
  :root {
    --font-sm: 12px;
    --font-md: 14px;
    --font-lg: 14px;
    --font-xl: 16px;
    --font-xxl: 20px;
    --font-2xl: 22px;
    --font-3xl: 24px;
  }
}

/*FONT WEIGHT START*/
.fw_500 {
  font-weight: 500 !important;
}

.fw_600 {
  font-weight: 600 !important;
}

/*FONT-SIZES START*/
.font-xs {
  font-size: var(--font-xs) !important;
}

.font-xsm {
  font-size: var(--font-xsm) !important;
}

.font-sm {
  font-size: var(--font-sm) !important;
}

.font-md {
  font-size: var(--font-md) !important;
}

.font-lg {
  font-size: var(--font-lg) !important;
}

.font-xl {
  font-size: var(--font-xl) !important;
}

.font-xxl {
  font-size: var(--font-xxl) !important;
}

.font-2xl {
  font-size: var(--font-2xl) !important;
}

.font-3xl {
  font-size: var(--font-3xl) !important;
}

/*COLORS CLASSES START*/
.color_white {
  color: var(--white) !important;
}

.color_black {
  color: var(--black) !important;
}

.color_dark_black {
  color: var(--dark-black) !important;
}

.color_light_gray {
  color: var(--light-gray) !important;
}

.color_dark_gray {
  color: var(--dark-gray) !important;
}

.color_gray {
  color: var(--gray) !important;
}

.color_green {
  color: var(--green) !important;
}

.color_blue {
  color: var(--blue) !important;
}

.color_red {
  color: var(--red) !important;
}

.color_pink {
  color: var(--pink) !important;
}

/*======================= COMMON CLASSES START======================== */

.main_heading {
  font-size: var(--font-3xl);
  font-weight: 600;
  color: var(--dark-black);
  font-family: THICCCBOI-SemiBold;
}

.common_btn {
  font-size: var(--font-sm);
  font-weight: 600;
  font-family: THICCCBOI-SemiBold;
  background-color: var(--blue);
}

.letter_space {
  letter-spacing: 6px;
}

.transition_03 {
  transition: all 0.3s ease-in-out;
}

.cursor_pointer {
  cursor: pointer;
}

/*======================== SIDEBAR CSS ========================*/
.sidebar_parent {
  width: 300px;
  min-width: 300px;
  background-color: var(--white);
  height: 100vh;
  overflow-y: auto;
  transition: all 0.3s ease-in-out;
  position: relative;
}

.sidebar_parent::-webkit-scrollbar {
  display: none;
}

.hamburger-menu {
  position: absolute;
  width: 29px;
  cursor: pointer;
  height: 25px;
  z-index: 10;
  left: 20px;
  transition: all 0.3s ease-in-out;
}

.first {
  top: 0;
  transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1),
    transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.sec {
  top: 11px;
  background: #ffffff;
  transition: all 0ms 300ms;
}

.third {
  top: 22px;

  transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1),
    transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.hamburger-menu span {
  width: 100%;
  height: 3px;
  background-color: black;
  border-radius: 10px;
  position: absolute;
  display: inline-block;
  left: 0;
}

.toggle_active .sec {
  opacity: 0;
}

.toggle_active .first {
  top: 11px;
  transform: rotate(45deg);
  transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1),
    transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.toggle_active .third {
  top: 11px;
  transform: rotate(-45deg);
  transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1),
    transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.toggle_active .hamburger-menu {
  left: 200px;
}

/*SIDEBAR*/
.sidebar_tab_effect {
  border: 1px solid transparent;
  border-radius: 12px;
  cursor: pointer;
}

.sidebar_tab_effect:hover {
  background-color: #e6e9eda4;
}

.sidebar_tab_text {
  color: var(--gray);
}

.sidebar-item-active .sidebar_tab_text {
  color: var(--light-gray);
}

.sidebar-item-active svg {
  transition: all 0.2s ease-in;
}

.sidebar-item-active svg path {
  fill: var(--white);
}

.sidebar-item-active {
  background-color: var(--blue) !important;
  border: 1px solid #3B5998;
}

.sidebar_shadow {
  box-shadow: 0px 0px 0px 2px #dee2e6;
}

/*DASHBOARD CARDS CSS HERE----------------------*/
.dashboard_card_bg {
  background: var(--white);
  border: 1px solid rgba(206, 206, 206, 0.5);
  box-shadow: 0px 10px 25px rgba(206, 206, 206, 0.2);
  border-radius: 18px;
  height: 160px;
}

.cards_text_bg {
  background: rgba(136, 255, 191, 0.15);
  border-radius: 6px;
  padding: 6px;
}

.cards_text_bg_2 {
  background: rgba(237, 88, 186, 0.15);
  border-radius: 6px;
  padding: 6px;
}

.map_text_bg {
  background: var(--white);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 1px;
}

.map_text {
  left: 8%;
  top: 16%;
}

.border_left_map {
  border-left: 1px solid rgba(206, 206, 206, 0.5);
}

@media (max-width:1599.98px) {
  .dashboard_card_bg {
    width: unset;
  }
}

@media (max-width:1199.98px) {
  .border_left_map {
    border-left: unset;
  }
}

@media (max-width: 991.91px) {
  .sidebar_logo {
    max-width: 150px;
  }

  .sidebar_parent {
    width: 0;
    position: absolute;
    z-index: 5;
  }

  .sidebar_active {
    width: 200px;
  }

  .sidebar_parent {
    min-width: unset;
  }
}

@media (max-width:575.98px) {
  .topbar_icons {
    margin-left: -45px;
  }

  .dashboard_card_bg {
    max-width: 345px;
    margin: auto;
  }
}