@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@500&display=swap");

* {
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: THICCCBOI-normal !important;
}

.ff_plex_mono {
  font-family: "IBM Plex Mono", monospace;
}

@font-face {
  font-family: THICCCBOI-light;
  src: url("../src/assets/fonts/THICCCBOI-Light.ttf");
}

@font-face {
  font-family: THICCCBOI-normal;
  src: url("../src/assets/fonts/THICCCBOI-Regular.ttf");
}

@font-face {
  font-family: THICCCBOI-medium;
  src: url("../src/assets/fonts/THICCCBOI-Medium.ttf");
}

@font-face {
  font-family: THICCCBOI-SemiBold;
  src: url("../src/assets/fonts/THICCCBOI-SemiBold.ttf");
}

@font-face {
  font-family: THICCCBOI-Bold;
  src: url("../src/assets/fonts/THICCCBOI-Bold.ttf");
}

@font-face {
  font-family: THICCCBOI-Extra-Bold;
  src: url("../src/assets/fonts/THICCCBOI-ExtraBold.ttf");
}

.ff_thicccboi_light {
  font-family: THICCCBOI-light;
}

.ff_thicccboi_medium {
  font-family: THICCCBOI-medium;
}

.ff_thicccboi_semibold {
  font-family: THICCCBOI-SemiBold;
}

.ff_thicccboi_bold {
  font-family: THICCCBOI-Bold;
}

.ff_thicccboi_extra_bold {
  font-family: THICCCBOI-Extra-Bold;
}

:root {
  /* FONT SIZES  */
  --font-xs: 10px;
  --font-xsm: 12px;
  --font-sm: 14px;
  --font-md: 16px;
  --font-lg: 18px;
  --font-xl: 20px;
  --font-22: 22px;
  --font-24: 24px;
  --font-xxl: 26px;
  --font-28: 28px;
  --font-2xl: 30px;
  --font-3xl: 32px;
  --font-4xl: 36px;
  --font-5xl: 65px;
  --font-6xl: 80px;
  /* COLORS  */
  --white: #ffffff;
  --black: #000000;
  --dark-black: #040310;
  --light-black: #0a0a0d;
  --dark-blue: #14142b;
  --light-gray: #ececec;
  --gray: #7d889e;
  --dark-gray: #484f75;
  --blue: #3b5998;
  --green: #30bd71;
  --red: #fb5656;
  --pink: #ed58ba;
}

/* ----------------------------------- ONLY-MEDIA-QUERIES ----------------------------------- */
@media (max-width: 1599.98px) {
  :root {
    --font-xl: 17px;
    --font-22: 20px;
    --font-24: 22px;
    --font-xxl: 25px;
    --font-28: 27px;
    --font-2xl: 25px;
    --font-3xl: 30px;
    --font-4xl: 32px;
    --font-5xl: 60px;
    --font-6xl: 70px;
  }
}

@media (max-width: 1199.98px) {
  :root {
    --font-xxl: 25px;
    --font-28: 26px;
    --font-2xl: 27px;
    --font-3xl: 29px;
    --font-4xl: 30px;
    --font-5xl: 55px;
    --font-6xl: 60px;
  }
}

@media (max-width: 991.98px) {
  :root {
    --font-xl: 19px;
    --font-xxl: 24px;
    --font-28: 24px;
    --font-2xl: 26px;
    --font-3xl: 28px;
    --font-4xl: 28px;
    --font-5xl: 45px;
    --font-6xl: 48px;
  }
}

@media (max-width: 767.98px) {
  :root {
    --font-md: 15px;
    --font-lg: 16px;
    --font-xl: 18px;
    --font-22: 18px;
    --font-24: 20px;
    --font-xxl: 22px;
    --font-28: 22px;
    --font-2xl: 24px;
    --font-3xl: 26px;
    --font-4xl: 26px;
    --font-5xl: 45px;
    --font-6xl: 46px;
  }
}

@media (max-width: 575.98px) {
  :root {
    --font-sm: 12px;
    --font-md: 14px;
    --font-lg: 14px;
    --font-xl: 16px;
    --font-22: 16px;
    --font-xxl: 17px;
    --font-28: 20px;
    --font-2xl: 22px;
    --font-3xl: 24px;
    --font-4xl: 24px;
    --font-5xl: 30px;
    --font-6xl: 30px;
  }
}

/*FONT WEIGHT START*/
.fw_500 {
  font-weight: 500 !important;
}

.fw_600 {
  font-weight: 600 !important;
}

.fw_800 {
  font-weight: 800 !important;
}

/*FONT-SIZES START*/
.font-xs {
  font-size: var(--font-xs) !important;
}

.font-xsm {
  font-size: var(--font-xsm) !important;
}

.font-sm {
  font-size: var(--font-sm) !important;
}

.font-md {
  font-size: var(--font-md) !important;
}

.font-lg {
  font-size: var(--font-lg) !important;
}

.font-22 {
  font-size: var(--font-22) !important;
}

.font-28 {
  font-size: var(--font-28) !important;
}

.font-xl {
  font-size: var(--font-xl) !important;
}

.font-xxl {
  font-size: var(--font-xxl) !important;
}

.font-2xl {
  font-size: var(--font-2xl) !important;
}

.font-3xl {
  font-size: var(--font-3xl) !important;
}

.font-4xl {
  font-size: var(--font-4xl) !important;
}

.font-5xl {
  font-size: var(--font-5xl) !important;
}
.font-6xl {
  font-size: var(--font-6xl) !important;
}

/*COLORS CLASSES START*/
.color_white {
  color: var(--white) !important;
}

.color_black {
  color: var(--black) !important;
}

.color_light_black {
  color: var(--light-black) !important;
}

.color_dark_black {
  color: var(--dark-black) !important;
}

.color_light_gray {
  color: var(--light-gray) !important;
}

.color_dark_gray {
  color: var(--dark-gray) !important;
}

.color_gray {
  color: var(--gray) !important;
}

.color_green {
  color: var(--green) !important;
}

.color_blue {
  color: var(--blue) !important;
}

.color_dark_blue {
  color: var(--dark-blue) !important;
}

.color_red {
  color: var(--red) !important;
}

.color_pink {
  color: var(--pink) !important;
}

/*======================= COMMON CLASSES START======================== */

.main_heading {
  font-size: var(--font-3xl);
  font-weight: 600;
  color: var(--dark-black);
  font-family: THICCCBOI-SemiBold;
}

.common_btn {
  font-size: var(--font-sm);
  font-weight: 600;
  font-family: THICCCBOI-SemiBold;
  background-color: var(--blue);
}

.letter_space {
  letter-spacing: 6px;
}

.transition_03 {
  transition: all 0.3s ease-in-out;
}

.cursor_pointer {
  cursor: pointer;
}

/* LANDING HEADER CSS HERE==================================== */

.navbar-wrapper {
  z-index: 1;
}

.navbar-overlay {
  position: fixed;
  width: 100%;
  height: 0%;
  z-index: 10;
  top: -800px;
  left: -800px;
  background: #fff;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  border-radius: 0px 0px 100px 0px;
}

.active-nav-overlay .navbar-overlay {
  height: 100vh;
  top: 0;
  left: 0;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  border-radius: 0;
}

.active-nav-overlay {
  overflow: hidden;
  height: 100vh;
}

.navbar-overlay li {
  position: relative;
  cursor: pointer;
  -webkit-transform: translateY(10px);
  -ms-transform: translateY(10px);
  transform: translateY(10px);
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  opacity: 0;
  list-style-type: none;
}

.active-nav-overlay ul li:nth-child(1) {
  -webkit-animation: animate_links 0.9s;
  animation: animate_links 0.9s;
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
  -webkit-transform: translateY(10px);
  -ms-transform: translateY(10px);
  transform: translateY(10px);
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.active-nav-overlay ul li:nth-child(2) {
  -webkit-animation: animate_links 0.9s;
  animation: animate_links 0.9s;
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
  -webkit-transform: translateY(10px);
  -ms-transform: translateY(10px);
  transform: translateY(10px);
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@-webkit-keyframes animate_links {
  from {
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
    opacity: 0;
  }

  to {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
    opacity: 1;
  }
}

@keyframes animate_links {
  from {
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
    opacity: 0;
  }

  to {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
    opacity: 1;
  }
}

/* HAMBURGER ICON STYLE  */
#nav-icon1 {
  width: 50px;
  height: 35px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

#nav-icon1 span {
  display: block;
  position: absolute;
  height: 4px;
  width: 80%;
  background-color: #3B5998;
  border-radius: 7px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

#nav-icon1 span:nth-child(1) {
  top: 0px;
}

#nav-icon1 span:nth-child(2) {
  top: 16px;
}

#nav-icon1 span:nth-child(3) {
  top: 32px;
}

.active-nav-overlay #nav-icon1 {
  z-index: 20;
}

.active-nav-overlay #nav-icon1 span:nth-child(1) {
  top: 16px;
  -webkit-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: rotate(135deg);
}

.active-nav-overlay #nav-icon1 span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

.active-nav-overlay #nav-icon1 span:nth-child(3) {
  top: 16px;
  -webkit-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

/*======================== SIDEBAR CSS ========================*/
.sidebar_parent {
  width: 300px;
  min-width: 300px;
  background-color: var(--white);
  height: 100vh;
  overflow-y: auto;
  transition: all 0.3s ease-in;
  position: relative;
}

.sidebar_parent::-webkit-scrollbar {
  display: none;
}

.hamburger-menu {
  position: absolute;
  width: 29px;
  cursor: pointer;
  height: 25px;
  z-index: 10;
  left: 20px;
  transition: all 0.3s ease-in;
}

.first {
  top: 0;
  transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1),
    transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.sec {
  top: 11px;
  background: #ffffff;
  transition: all 0ms 300ms;
}

.third {
  top: 22px;

  transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1),
    transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.hamburger-menu span {
  width: 100%;
  height: 3px;
  background-color: black;
  border-radius: 10px;
  position: absolute;
  display: inline-block;
  left: 0;
}

.toggle_active .sec {
  opacity: 0;
}

.toggle_active .first {
  top: 11px;
  transform: rotate(45deg);
  transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1),
    transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.toggle_active .third {
  top: 11px;
  transform: rotate(-45deg);
  transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1),
    transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.toggle_active .hamburger-menu {
  left: 200px;
}

/*SIDEBAR*/
.sidebar_tab_effect {
  border: 1px solid transparent;
  border-radius: 12px;
  cursor: pointer;
}

.sidebar_tab_effect:hover {
  background-color: #e6e9eda4;
}

.sidebar_tab_text {
  color: var(--gray);
}

.sidebar-item-active .sidebar_tab_text {
  color: var(--light-gray);
}

.sidebar-item-active svg {
  transition: all 0.2s ease-in;
}

.sidebar-item-active svg path {
  fill: var(--white);
}

.sidebar-item-active {
  background-color: var(--blue) !important;
  border: 1px solid #3b5998;
}

/*DASHBOARD CARDS CSS HERE----------------------*/
.dashboard_card_bg {
  background: var(--white);
  border: 1px solid rgba(206, 206, 206, 0.5);
  box-shadow: 0px 10px 25px rgba(206, 206, 206, 0.2);
  border-radius: 18px;
  height: 160px;
}

.cards_text_bg {
  background: rgba(136, 255, 191, 0.15);
  border-radius: 6px;
  padding: 6px;
}

.cards_text_bg_2 {
  background: rgba(237, 88, 186, 0.15);
  border-radius: 6px;
  padding: 6px;
}

.map_text_bg {
  background: var(--white);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 1px;
}

.map_text {
  left: 8%;
  top: 16%;
}

.border_left_map {
  border-left: 1px solid rgba(206, 206, 206, 0.5);
}

.leads_filter_btn {
  background: var(--blue);
  border: 1px solid var(--blue);
  border-radius: 60px;
  padding: 12px 20px;
}

.leads_dropdown_btn {
  background: var(--white);
  border: 1px solid rgba(206, 206, 206, 0.25);
  border-radius: 60px;
  padding: 12px 24px;
}

.age_chart_bg {
  background: #eef2fa;
  border-radius: 8px;
}

.date_input {
  background: rgba(142, 169, 224, 0.15);
  backdrop-filter: blur(17.5px);
  border-radius: 12px;
  padding: 12px 18px;
  border: 1px solid transparent;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  color: rgba(0, 0, 0, 0);
  opacity: 1;
  display: block;
  background: url("./assets/images/svg/calendar-img.svg") no-repeat;
  width: 20px;
  height: 20px;
  border-width: thin;
  cursor: pointer;
}

.date_input:focus-visible {
  outline: unset !important;
}

.dropdown-toggle::after {
  border-top: 0.3em solid var(--blue);
  width: 10px;
  margin-left: 12px;
}

.dropdown_tab {
  border: 0.5px solid var(--blue);
  border-radius: 12px;
  height: 49px;
}

.btn.show {
  border-color: var(--blue) !important;
}

.btn:hover {
  border-color: var(--blue) !important;
}

input:checked {
  accent-color: var(--blue);
}

.date_input {
  color: var(--blue) !important;
}

.bottom-30 {
  bottom: -30px;
}

/* @media (max-width: 1599.98px) {
  #SvgjsG1515 {
    transform: translateX(-18px) !important;
  }
} */

.country_img {
  width: 100%;
  max-width: 45px;
}

.bg_light_grey2 {
  background: #eef2fa;
}

.br_12px {
  border-radius: 12px;
}

.br_9px {
  border-radius: 9px;
}

.tab_active {
  background: #e1e8f7;
  color: #3b5998;
  font-weight: 700 !important;
}

.custom_tooltip {
  width: 100px;
  background-color: #7d889e;
  border-radius: 8px;
  color: white;
  padding: 8px;
  position: absolute;
  top: 30px;
  left: 100%;
  transform: translateX(-50%);
  z-index: 1;
}

.tooltip_arrow {
  top: -10px;
  right: 51%;
}

.leads_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  z-index: 10;
}

.date_picker_icon {
  top: 24%;
  right: 12%;
}

.custom_width {
  width: 145px;
  height: 48px;
}

@media (max-width: 1599.98px) {
  .sidebar_parent {
    width: 280px;
    min-width: 280px;
  }

  .country_img {
    max-width: 40px;
  }
}

@media (max-width: 1499.98px) {
  .min_width_900 {
    min-width: 900px;
  }
}

@media (max-width: 1199.98px) {
  .sidebar_parent {
    width: 280px;
    min-width: 230px;
  }

  .country_img {
    max-width: 35px;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .font_xl_15 {
    font-size: 15px !important;
  }
}

@media (max-width: 991.91px) {
  .sidebar_logo {
    max-width: 150px;
  }

  .sidebar-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in;
    z-index: 4;
  }

  .sidebar_parent {
    position: fixed;
    left: -250px;
    z-index: 5;
    width: 250px;
    min-width: 250px;
  }

  .sidebar_parent.sidebar_active {
    left: 0px;
  }

  .border_left_map {
    border-left: unset;
  }
}

@media (max-width: 575.98px) {
  .dashboard_card_bg {
    max-width: 345px;
    margin: auto;
  }

  .date_input {
    padding: 10px;
  }
}

@media (min-width: 1600px) {
  .px-3xl-5 {
    padding-left: 3rem !important;
    padding-right: 3rem !important;
  }
}