/* -----------------------------top section start------------------------------------- */

.icon_bg_color {
  background: rgba(142, 169, 224, 0.15);
  backdrop-filter: blur(17.5px);
}

.border_r_12 {
  border-radius: 12px;
}

.cursor_pointer {
  cursor: pointer;
}

.icon_size {
  height: 50px;
  width: 50px;
}

.user_icon {
  margin-left: 30px;
}

.user_icon_size {
  height: 57px;
  width: 57px;
  border-radius: 50%;
}

.pe_12 {
  padding-right: 12px;
}

.header_hr_line {
  border: 2px solid #d9d9d9 !important;
  margin-top: -5px !important;
}

.px_lg_60 {
  padding: 0px 60px !important;
}

.header_margin_lg {
  margin-left: 250px;
}

.z_index {
  z-index: -1;
}

.vertical_line_asidebar::after {
  content: "";
  background-color: rgba(125, 136, 158, 0.25);
  height: 100vh;
  width: 2px;
  position: absolute;
  top: 0px;
  right: 0px;
}

/* -----------------------------------profile start------------------------------ */
.box {
  background: #ffffff;
  border: 1px solid rgba(206, 206, 206, 0.5);
  border-radius: 18px;
  padding: 30px;
}

.translate_middle_y {
  transform: translateY(-100%);
}

.profile_icon_size {
  height: 178px;
  width: 178px;
}

.upload_btn {
  background: rgba(142, 169, 224, 0.15);
  backdrop-filter: blur(17.5px);
  border-radius: 8px;
}

.profile_input {
  background: rgba(142, 169, 224, 0.15);
  backdrop-filter: blur(17.5px);
  border-radius: 8px;
  height: 53px !important;
}

.form-control:focus {
  background: rgba(142, 169, 224, 0.15);
  backdrop-filter: blur(17.5px);
  box-shadow: none;
}

.common_btn {
  background: #3b5998;
  border-radius: 60px;
  transition: all 0.3s ease-in-out;
}

.common_btn:hover {
  transform: scale(1.03);
  box-shadow: 4px 4px 10px #a8c0f4;
}

.add_user_btn {
  transition: all 0.3s ease-in-out;
}

.header_tabs:hover {
  color: #a8afbc !important;
}

.placeholder_padding {
  padding-top: 10px;
}

.add_user_btn:hover {
  opacity: 0.9;
  transform: scale(1.03);
}

/*--------------------------------------start facebook ----------------------------------------------- */
.facebook_card {
  background: rgba(142, 169, 224, 0.15);
  backdrop-filter: blur(17.5px);
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 10px;
  max-width: 570px;
}

.overflow-y-scroll {
  overflow-y: scroll;
}

/*-------------------------------------- crm section ------------------------------------------ */
.border_radius_18 {
  border-radius: 18px;
}

.airtable {
  max-width: 163.39px;
}

.crm_card {
  background: rgba(142, 169, 224, 0.15);
  backdrop-filter: blur(17.5px);
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 10px;
  max-width: 570px;
}

.crm_card_input {
  max-width: 570px;
}

.crm_icon_bg {
  background: rgba(142, 169, 224, 0.15);
  backdrop-filter: blur(17.5px);
  border-radius: 8px;
  height: 53px !important;
}

.material_icon {
  height: 25px;
  width: 25px;
  background-color: #3b5998;
  border-radius: 50%;
}

.z_index_1 {
  z-index: 1;
}

/* ----------------------billing ----------------------------- */
.bg_light_grey {
  background: rgba(142, 169, 224, 0.15);
  backdrop-filter: blur(17.5px);
  border-radius: 8px;
}

.border_left {
  border-radius: 12px 0 0 12px;
}

.border_right {
  border-radius: 0 12px 12px 0;
}

.color_light_red {
  color: #fd5a5a !important;
}

.bg_light_blue {
  background: #3b5998;
  backdrop-filter: blur(17.5px);
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 8px;
}

.color_light_grey {
  color: #3b5998;
}

.stage_circle {
  width: 12px;
  height: 12px;
  background-color: #3b5998;
  border-radius: 50%;
  display: inline-block;
  margin-right: 8px;
}

.uparrow {
  margin-left: -10px;
}

.add_manager tbody td {
  border: solid #d9d9d9;
  border-width: 0px 1px 0px 1px;
}

.add_manager tbody th {
  border: solid #d9d9d9;
  border-width: 1px 1px 1px 1px;
}

.add_manager {
  border-collapse: collapse !important;
}

.table_bg_grey {
  background: rgba(142, 169, 224, 0.15);
}

.add_manager_campaign {
  background: #ffffff;
  border: 1px solid #ececec;
  border-radius: 15px;
}

.into_icon {
  transform: rotate(-45deg);
}

.search_input {
  background: #ffffff;
  border: 1px solid #3b5998;
  border-radius: 15px;
  outline: none;
  height: 50px;
}

.form-check-input {
  background-color: white;
}

.form-check-input:checked {
  background-color: #3b5998;
  border-color: #3b5998;
}

.form-check-input:focus {
  box-shadow: none;
  border-color: #3b5998;
}

.tab_border::before {
  content: "";
  position: absolute;
  background-color: #3b5998;
  width: 100%;
  height: 2px;
  bottom: -13px;
}

.delivery_status_active {
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background-color: #30bd71;
  display: inline-block;
}

.delivery_status_noadds {
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background-color: #7d889e;
  display: inline-block;
}

.table_tabs_btn {
  background: rgba(142, 169, 224, 0.15);
  backdrop-filter: blur(17.5px);
  border-radius: 12px;
  transition: all 0.3s ease-in-out;
  border: 1px solid rgba(142, 169, 224, 0.15);
}

.table_tabs_btn:hover {
  background-color: #3b5998;
  color: white;
}

.table_tabs_btn_active {
  background: #3b5998;
  border-radius: 12px;
  border: 1px solid #3b5998;
}

.spline-chart-wrapper {
  bottom: -30px;
  left: -30px;
}

.total-leads-wrapper {
  background: #ffffff;
  border: 1px solid rgba(206, 206, 206, 0.5);
  border-radius: 18px;
}

.bg-age-group-wrapper {
  background-color: #eef2fa;
  border-radius: 8px;
  padding: 10px;
  max-width: 300px;
}

.dashboard_tabs_svg svg path {
  fill: #3b5998;
}

.dashboard_tabs_svg_2 svg path {
  fill: #7d889e;
}

.leads_center_arrow_icon svg {
  transform: rotate(90deg);
  transition: all 0.2s ease-in-out;
}

.leads_dropdown {
  gap: 22px;
  flex-wrap: wrap;
}

.total_leads::before {
  content: "";
  position: absolute;
  background-color: #3b5998;
  height: 90%;
  top: 50%;
  transform: translateY(-50%);
  width: 3px;
  left: -8px;
}

.total_revenue::before {
  content: "";
  position: absolute;
  background: #78d8a5;
  height: 90%;
  top: 50%;
  transform: translateY(-50%);
  width: 3px;
  left: -8px;
}

.view_all_btn:hover {
  color: #15181e !important;
}

.three_dot_dropdown .dropdown-toggle::after {
  content: unset !important;
}

/* CUSTOM SELECT CSS */
.custom_select {
  position: relative;
  /* max-width: 400px; */
}

.custom_select h4 {
  background-color: rgba(255, 255, 255, 0.24);
  padding: 15px 20px;
  cursor: pointer;
  position: relative;
}

.custom_select ul {
  position: absolute;
  min-width: 110px;
  border-radius: 5px;
  background-color: #fff;
  z-index: 1111;
}

.custom_select ul li {
  cursor: pointer;
}

.custom_select ul li:hover {
  background-color: rgba(142, 169, 224, 0.15);
}

.calendar_input:focus-visible {
  outline: unset !important;
}

.calendar_input::placeholder {
  color: #7d889e;
}

/*---------------------------- leading business slider -------------------------------*/
.business_founder_img {
  width: 58px;
  height: 58px;
  border-radius: 50%;
}
.business_slider_card {
  background: #ffffff;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.15);
  border-radius: 48px;
}
.business_slider_card_heading {
  margin-top: 90px;
}
.business_slider_card::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #3b5998;
  backdrop-filter: blur(17.5px);
  border-radius: 48px;
  left: 0px;
  top: -8px;
  z-index: -1;
}
.business_slider_card_icon {
  filter: drop-shadow(0px 0px 60px rgba(0, 0, 0, 0.1))
    drop-shadow(0px 4px 30px rgba(0, 0, 0, 0.03));
  border-radius: 90px;
  background-color: white;
}
.business_slider_img {
  margin-top: 70px;
  padding-top: 60px !important;
}
@media (max-width: 1599.98px) {
  .business_slider_card_heading {
    margin-top: 70px;
  }
  .business_slider_card_icon {
    width: 130px;
  }
}
@media (max-width: 1199.98px) {
  .business_slider_card {
    box-shadow: none;
    border: 1px solid rgba(0, 0, 0, 0.15);
  }
  .business_slider_card_heading {
    margin-top: 70px;
  }
  .business_slider_card_icon {
    width: 130px;
  }
}
@media (max-width: 991.98px) {
  .px_lg_60 {
    padding: 20px !important;
  }

  .header_margin_lg {
    margin-left: 0;
  }

  .vertical_line_asidebar::after {
    display: none;
  }
}

@media (max-width: 767.98px) {
  .user_icon {
    margin-left: 16px;
  }
  .business_slider_card_heading {
    margin-top: 60px;
  }
  .business_slider_card_icon {
    width: 130px;
  }
}

@media (max-width: 575.98px) {
  .ms_xsm_16 {
    margin-left: 16px;
  }

  .spline-chart-wrapper {
    bottom: -30px;
    left: 0px;
  }

  .box {
    padding: 12px;
  }

  .leads_dropdown {
    gap: 15px;
  }
  .business_slider_card_heading {
    margin-top: 50px;
  }
  .business_slider_card_icon {
    width: 110px;
  }
}
